/* General Styles */

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: transparent;
    box-shadow: none;
}

.navbar-brand .logo {
    width: 50px;
    height: auto;
}

.nav-link {
    color: black;
    margin-right: 20px;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}


/*   <!-- why join  us? --> */

.card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #007bff;
    text-transform: uppercase;
}

.bg-light {
    background-color: #f9f9f9 !important;
}

h2,
h3,
h4 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.form-card {
    box-shadow: 0 0 5px black;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}

@media (max-width: 768px) {
    .form-card {
        box-shadow: 0 0 2px black;
        padding: 20px;
        border-radius: 20px;
        margin: 20px;
    }
}

@media (max-width: 576px) {}

footer a {
    text-decoration: none;
    color: #ff5722;
    transition: color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
    text-decoration: none;
    /* Change to your desired hover color */
    transform: scale(1.1);
    /* Slightly enlarges the link */
    text-shadow: 0 0 5px lightskyblue;
}